Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-hicpp-braces-around-statements,-readability-avoid-const-params-in-decls,-llvm-*'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none

